body
{
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

#wrapper
{

    margin: 0 auto;
    padding: 10px;
}

.slider  {
    margin-top: 40px;
    float:left;
    clear:left;
}

.slider-bar {
    position: relative;
    width: 200px;
    height: 10px;
    background-color: lightgray;
}

.slider-knob {
    position: absolute;
    left: 0;
    top: -2px;

    cursor: pointer;
}
.slider-knob2 {
    left: calc(100% - 13px);
}


.is-vertical .slider-bar {
    position: relative;
    height: 200px;
    width: 10px;
    background-color: lightgray;
}

output {
    width: 50px;
    height: 10px;
    background-color: white;
    color: red;
}



.slider > * {
    float:left;
}

.hidden {
    position: absolute;
    left: -9999px;
    top:  -9999px;
}

.slider-range{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #86B600;
}
